*{
    margin: 0;
    padding: 0;
}
html {
    line-height: 1.15; /* Correct the line height in all browsers */
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. */
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}
body{
    background-color: #f4f5f7;
    height: 100%;
    width: 100%;
}

/* Head Start */
.w{
    width:100%;
    margin:auto;
}
.head{
    width: 100%;
    height: 140px;
    background-color: #092c74;
}

.logo img{
    margin-top: 27px ;
    height: 100px;
    width: 320px;
    line-height: 100px;
    cursor: pointer;
}

.logo{
    margin-right: 50px;
    float: left;
}

.nav {
    float: left;
    margin-left: 400px;
    position: absolute;
    margin-top: 50px;
    font-size: 22px;
    color: #ccc;
}
/* .nav ul li {
    float: left;
    margin-top: 50px;
}

.nav ul li a{
    display: block;
    padding: 0 10px;
    margin-bottom: 2px;
    margin-left: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color:white;
}
.nav ul li a:hover{
    color:orangered;

} */
/* Head End */

/* Search Bar Start */

.search{
    float: left;
    margin-left: 70px;
    position: absolute;
    margin-left: 1000px;
    margin-top: 50px;
}

.search input{
    float: left;
    width: 340px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0ex;
    padding-left: 20px;
    color:#ccc;
}

.search .search_btn{
    position: absolute;
    float: right;
    left: 103%;
    width: 52px;
    height: 43px;
    background: url('images/search_btn_03.png');
    outline: none;
}

/* Search Bar end */

/* Autocomplete starts */
.autocomplete {
    position: relative;
    display: inline-block;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
/* Autocomplete ends */

/* About button starts */
/* .about ul li a{
    display: block;
    padding: 0 10px;
    text-decoration: none;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    color: #ccc;
}
.about ul li a:hover{
    border-bottom: 2px solid #00a4ff;

}
.about ul li{
    float: left;
} */
.dropbtn {
    background-color: DodgerBlue;
    position: absolute;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-left: 1050px;
    margin-top: 37px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: DodgerBlue;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    margin-left: 1050px;
    margin-top: 78px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
/* About button ends */

/* Subnav Start */
.subnav{
    height: 40px;
    background-color: #88aaec;
}
/* .subnav .menu ul li a{
    display: block;
    padding: 0 10px;
    margin-bottom: 2px;
    margin-left: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color:white;
}

.subnav ul li{
    float: left;
    margin-top: 7px;
}

.subnav ul li a:hover{
    border-bottom: 3px solid blue
}

.subnav ul{
    margin-left: 10px
} */
/* Subnav End */

/* Banner Start */
.banner{
    position: relative;
    height: 500px;
    background-color:#f1d3bf;
}
.banner .total_case{
    position: absolute;
    overflow: hidden;
    width: 400px;
    height: 80px;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 10px;
    background: rgba(0, 0, 0, 0.3);
}

.banner .geodata{
    position: absolute;
    /* overflow-x: auto;
    overflow-y: auto; */
    width: 400px;
    height: 390px;
    margin-top: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
}

/* Banner end */




/* Confirmed Data Start*/

.geodata caption{
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px rgba(99, 96, 96, 0.863) solid;    
    color:white;
}
.geodata .compare_btn{
    float: right;   
    margin-right: 10px;
}

/* .geodata table{
    width: 390px;
    height: 390px;
    padding: 0 5px;
    margin: 0 5px;
    border-bottom: 1px rgba(99, 96, 96, 0.863) solid;
    color:rgb(243, 235, 235);
} */
/* .geodata #j_tb{
    overflow:auto;
    text-align: center;
    border-right: 1px rgba(99, 96, 96, 0.863) solid;
} */
table#corona_tb{
    display: table;
}
table#corona_tb thead, 
table#corona_tb tbody {
    float: left;
    width: 100%
}
table#corona_tb tbody {
    overflow: auto;
    /* Giving height to make the tbody scroll */
    /* Giving height dynamically is recommended */
    height: 300px;
}

table#corona_tb tr {
    width: 100%;
    height: 40px;
    display: table;
    /* Keeping the texts of both thead and tbody in same alignment */
    text-align: center;
    cursor: pointer;
}


table#corona_tb th, 
table#corona_tb td {
    width: 29%;
}
table#corona_tb tr>td:last-child {
    /* removing fraction of width i.e 2% to align the tbody columns with thead columns. */
    /* It is must as we need to consider the tbody scroll width too */
    /* if the width is in pixels, then (width - 18px) would be enough */
    width: 26%;
}
/** for older browsers (IE8), if you know number of columns in your table **/
table#corona_tb tr>td:first-child + td + td {
    width : 29%;
}
.bg{
    background-color: #ccc;
}
/* Confirmed Data End */

/* General Chart Start */
.banner .chart{
    position: absolute;
    display: block;
    float: right;
    height: 480px;
    width: 1090px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 10px 10px 10px 420px;
}
/* click  Start */
/* <h1 style='text-align: center; margin-top: 5px'>Confirmed / Predicted Trend</h1>  */

/* .chart .all li{
    float: left;
    margin-left: 15px;
    background-color: #ccc;
}
.chart .all a{
    display: inline-block;
    height: 38px;
    border: 1px solid #3e535e;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    color: #121414;
    padding: 5px;
}
.chart .all a:hover{
    background-color: #00a4ff;
    color: white;
} */

/* click Button End */

/* Chart tab Start */
.chart .tab_list{
    margin-top: 15px;
    height: 39px;
    width: 1090px;
    background-color: rgba(0, 0, 0, 0.3);
}
.chart .tab_list .current{
    background-color: rgb(23, 63, 58);
    color: white;
}
.chart .tab_list li{
    float: left;
    height: 39px;
    line-height: 39px;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
}
/* Chart tab End */

/* Chart tab content Start */
.chart .tab_cont .item{
    display: none;
    width: 1070px;
    height: 377px;
    margin-left: 10px;
    margin-top: 10px;
}
.chart .tab_cont .item:first-child{
    display: block;
    background-color: #fff;
}
.chart .tab_cont .item:nth-child(2){
    background-color: black;
}
.chart .tab_cont .item:nth-child(3){
    background-color: lightblue;
}
.chart .tab_cont .item:last-child{
    background-color: #ccc;
}
/* Chart tab content End */


/* General Chart End */